.price_cont {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  padding: 0 8px;
  border-radius: 12px;
  height: 35px;
  position: relative;
  margin-right: 10px;
}
.menu {
  transform: scale(0);
  position: absolute;
  /* top: 100%;
  left: 0; */
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;

  transition: 0.4s ease-in-out;
}
.menu_active {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 5px 0px 0px 0px;

  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 12px;
  overflow: hidden;
  background-color: gray;
  transform: scale(1);
  transition: 0.4s ease-in-out;
  width: 100%;
}
.li_menu {
  list-style: none;
  cursor: pointer;
  padding: 5px;
}
.li_menu:hover {
  background-color: rgb(165, 162, 162);
}
